/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

section {
	display: flex;
	flex-direction: row;
	/* align-items: flex-end; */
	flex-wrap: wrap;
	justify-content: space-around;
}

p {
	line-height: 1.25;
}


h1 {
	font-size: 75px;
}

h2 {
	font-size: 25px;
}
hr {
	width: 77%;
}
ul {
	list-style-type: disc;
	line-height: 2;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 0px;
}

nav a {
	text-decoration: none;
	color: lightgray;
	margin: 30px;
}

nav a:hover {
	color: #f29252;
}

nav img {
	margin-left: 40px;
}
article {
	margin: 20px 0px;
}
footer.home {
	margin: 0 auto;
	width: 77%;
}
.action-button {
	display: flex;
	width: 200px;
	height: 40px;
	background-color: white;
	margin: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 10px;
}

.bannerPic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 77%;
	margin: 0 auto;
}
.bannerPic img {
	background-size: cover;
	width: 100%;
}

.card {
	padding: 20px;
	width: 430px;
	height: 250px;
	border: 1px solid;
	margin: 20px 0px;
	background-color: rgb(240, 238, 238);
}
.card-group {
	display: flex;
	justify-content: space-between;

}
.facts {
	display: flex;
	width: 49%;
	align-content: space-between;
	flex-wrap: wrap;
}
.logo {
	margin-right: 40px;
}
.facts p {
	margin: 10px 0px;
}

.services-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-around;
	margin-top: 30px;
}

.copyright {
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: center
}
header.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	padding: 0px 50px;
}
section.heading {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 20px;
	padding: 30px;
	padding-left: 60px;
}

.top.home {
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	width: 77%
}

.bottom.home {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	width: 77%;
	margin: 0 auto;
	/* margin: 40px; */
	/* padding: 10px; */
}

.bottom p {
	/* padding-right: 10px */
}

.intro {
	flex-direction: column;
	align-items: center;
	display: flex;
	text-align: center;
}

.button {
	height: 40px;
	width: 200px;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
}

.button p {
	padding-top: 8px;
}

.contact {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.container {
	width: 60%;
	margin: 0 auto;
}
@media(max-width: 1310px){
	.heading img {
		display: none;
	}
	.heading.home {

	}
}
@media (max-width: 800px) {
	header.nav {
		display: flex;
	}


}